{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "RHSM Password",
            "question_description": "The Password for your RHN account",
            "required": true,
            "type": "password",
            "variable": "rhsm_password",
            "min": 4,
            "max": 256,
            "default": "{{ rhsm_password }}",
            "choices": "",
            "new_question": false
        }
    ]
}