worker_processes  1;

events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    server {
        server_name {{ instance_name }}.learnfest.ansible-labs.de;

        location / {
        proxy_pass http://127.0.0.1:8080/;
        proxy_set_header Host $host;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection upgrade;
        proxy_set_header Accept-Encoding gzip;
        }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ instance_name }}.learnfest.ansible-labs.de/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ instance_name }}.learnfest.ansible-labs.de/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}


    server {
    if ($host = {{ instance_name }}.learnfest.ansible-labs.de) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


        server_name {{ instance_name }}.learnfest.ansible-labs.de;
        listen 80;
        listen [::]:80;
    return 404; # managed by Certbot


}}
